
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
@*<h2 class="text-center">BIENVENIDOS A FERRETERIAS ALEX</h2>*@
<link href="~/css/index.css" rel="stylesheet" type="text/css" />
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        ----------------
        <li><img src="~/Img/productosvarios1.jpg" alt="Alternate Text" /></li>
                <li><img src="~/Img/constructor1.jpg" alt="Alternate Text" /></li>
                <li><img src="~/Img/images.png" alt="Alternate Text" /></li>
    </div>*@
<div class="container">

    <ul class="slider">
        <li id="slide1">
            <img src="~/Img/productosvarios1.jpg" alt="Alternate Text" />
        </li>
        <li id="slide2">
            <img src="~/Img/Portadas.jpg" alt="Alternate Text" />
        </li>
        <li id="slide3">
            <img src="~/Img/Sanyo-Jafep-presenta-Ox-3-en-1-esmalte-sintetico-antioxido-y-convertidor.png" alt="Alternate Text" />
        </li>
    </ul>

    <ul class="menu">
        <li>
            <a href="#slide1">1</a>
        </li>
        <li>
            <a href="#slide2">2</a>
        </li>
        <li>
            <a href="#slide3">3</a>
        </li>
    </ul>

</div>
<div class="row" style="background-color:paleturquoise">
    <div class="col-md-4">
        <h2>NOSOTROS</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CONTACTO</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PEDIDOS</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>