@using SistemaWEB.Ferretero.Models
@model List<CategoriaBEAN>
@{
    ViewBag.Title = "ListaCatInactivas";
}


<h2 style="color:crimson">Categorías Inactivas</h2>
@Html.ActionLink("Volver", "ListarCat", "Categoria", new { }, new { @class = "btn btn-primary" })
<br />
<br />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">ID</th>
            <th>DESCRIPCION</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.IdCategoria</td>
                <td>@item.NombCat</td>
                <td>
                    @Html.ActionLink("Activar", "ActivarCat", new { id = item.IdCategoria }, new { @class = "btn btn-success" })
                </td>
            </tr>

        }
    </tbody>
</table>


